@charset "utf-8"; 


@font-face {
	font-family:'Roboto_r';
	font-style:normal;
	font-weight:normal;
	src:url('../fonts/Roboto-Regular.eot');
	src:local(※), 
	url('../fonts/Roboto-Regular.woff') format('woff'), 
	url('../fonts/Roboto-Regular.woff2') format('woff2'), 
	url('../fonts/Roboto-Regular.ttf') format('truetype');
}

 @font-face {
	font-family:'Notosans_L';
	font-style:normal;
	font-weight:300;
	src:url('../fonts/NotoSans-Light.eot');
	src:local(※), 
	url('../fonts/NotoSans-Light.woff') format('woff'), 
	url('../fonts/NotoSans-Light.woff2') format('woff2'), 
	url('../fonts/NotoSans-Light.otf') format('opentype');
}

@font-face {
	font-family:'Notosans_R';
	font-style:normal;
	font-weight:400;
	src:url('../fonts/NotoSans-Regular.eot');
	src:local(※), 
	url('../fonts/NotoSans-Regular.woff') format('woff'), 
	url('../fonts/NotoSans-Regular.woff2') format('woff2'), 
	url('../fonts/NotoSans-Regular.otf') format('opentype');
}

@font-face {
	font-family:'Notosans_M';
	font-style:normal;
	font-weight:bold;
	src:url('../fonts/NotoSans-Medium.eot');
	src:local(※), 
	url('../fonts/NotoSans-Medium.woff') format('woff'), 
	url('../fonts/NotoSans-Medium.woff2') format('woff2'), 
	url('../fonts/NotoSans-Medium.otf') format('opentype');
} 


html { font-size: 62.5%; height: 100%;}
html, body, div, span, applet, object, iframe, table, caption, tbody, tfoot, thead, tr, th, td, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, dl, dt, dd, ol, ul, li, fieldset, form, label, legend{
	font-family:'Notosans_L','나눔고딕', 'droid sans fallback', 'Helvetica', 'Apple SD Gothic Neo', sans-serif; font-weight:normal; line-height:1.4; letter-spacing:-.01rem; font-style: normal;}
body { color:#333; overflow-x: hidden; background: #fff; height: 100%;}
select { height: auto; padding: 0; -webkit-appearance: none;}

#app { height: 100%;}

input{width:100%;height:1.4rem;padding:0 .4rem;border:1px solid #dbdbdb;font-size:.48rem;color:#353535;}
input:focus{ border-color:#333333; color: #333;}
input::placeholder{color:#bababa;}
input:disabled{background:#eee;color:#999;}
input:disabled::placeholder{color:#999;}
input[readonly]{background:#eee;color:#333;}
input[type="text"], input[type="password"] { font-family: Notosans_L; width: 100%; height: 5.0rem; padding: 0 1.5rem; border: 1px solid #ececec; font-size: 1.6rem; color: #333; border-radius: .5rem;}
input[type="text"]:focus, input[type="password"]:focus { border: 1px solid #000;}

textarea::placeholder{color:#bababa;}
textarea { display: inline-block; border: 1px solid #ddd; width: 100%; color: #333; border-radius: .5rem; padding: 1.5rem; font-size: 1.6rem; line-height: 2.4rem;}
textarea:focus { border: 1px solid #000;}

/* check radio input */
.form_unit { position:relative;}
span.form_unit { display:inline-block;}
.form_unit:first-child { margin-left:0;}

input[type="checkbox"],
input[type="radio"] { width:1px; height:1px; padding:0; border:0 none; margin:0; position:absolute; left:0; top:0; overflow:hidden; clip:rect(0 0 0 0);}
input[type="checkbox"] + label,
input[type="radio"] + label { display:inline-block; height:auto; min-height:2.5rem; vertical-align:middle; cursor:pointer;}
input[type="checkbox"] + label,
input[type="radio"] + label { background:url(../images/comm/check_off.png) no-repeat 0 0; background-size:2.5rem;}
input[type="checkbox"] + label span,
input[type="radio"] + label span{ display:inline-block; line-height:2.5rem;font-size:1.6rem; color:#666; vertical-align:baseline; width: 2.5rem; height: 2.5rem;}
input[type="checkbox"]:checked + label,
input[type="radio"]:checked + label { background:url(../images/comm/check_on.png) no-repeat 0 0; background-size:2.5rem;}
input[type="checkbox"]:checked + label span,
input[type="radio"]:checked + label span { color:#000;}
input[type="checkbox"]:disabled + label,
input[type="radio"]:disabled + label { background:url(../images/comm/ico_check_on_dis.png) no-repeat 0 0 ; background-size:2.5rem;}
input[type="checkbox"]:disabled + label span,
input[type="radio"]:disabled + label span  {color:#959595;}
input[type="checkbox"][readonly] + label { background:url(../images/comm/ico_check_off_dis.png) no-repeat 0 0 ;background-size:2.5rem;}
input[type="checkbox"][readonly] + label span {color:#959595;}

/* select */
select { box-sizing: border-box; width: 100%; border: 1px solid #ececec; border-radius: 0.5rem; padding: 0 1.5rem; background:url(../images/comm/ico_select.png) no-repeat 97% center ; background-size: auto 0.9rem;}

.hide{display:none !important;}
.hidden{visibility:hidden;}
.hide2, input[type=hidden]{position:absolute; top:0; left:0; overflow:hidden; width:1px; height:1px; font-size:0; line-height:0; text-indent:-9999em}
.clearfix:after{display:block; clear:both; content:'.'; overflow:hidden; visibility:hidden; height:0}
.clear{clear:both;}

/* 간격 */
.pb0{ padding-bottom:0 !important}
.pb50{ padding-bottom:50px !important}
.pt44{ padding-top:44px !important; }
.mt0{ margin-top:0px !important}
.mt10{ margin-top:10px !important}
.mt20{ margin-top:20px !important}
.mt30{ margin-top:30px !important}
.mt35{ margin-top:35px !important}
.mt50{ margin-top:50px !important}
.mb0{ margin-bottom:0px !important}
.mb10{ margin-bottom:10px !important}
.mb30{ margin-bottom:30px !important}
.mb35{ margin-bottom:35px !important}
.mb50{ margin-bottom:50px !important}
.mtauto { margin-top: auto;}

/* 정렬 */
.tal { text-align: left !important;}
.tar { text-align: right !important;}

/* 컬러 */
.color1{ color:#ec645e !important}

.scroll { overflow-x: auto;}
.h100 { height: 100%;}

/* 버튼 */
.btn_area { display: flex; padding: 11px 25px; margin-top: auto; background-color: #fff; justify-content: space-between;}
.btn_area button { width: 100%; height: 6.0rem; border-radius: 0.5rem; font-size: 2.0rem; color: #fff;}
.btn_area button.btn_blue { background-color: #4965e9;}
.btn_area button.btn_gray { background-color: #333; margin-left: 1.0rem;}
.btn_area button.btn_dis { background-color: #ccc;}
.btn_area.hp .btn_dis .select { background:url(../images/helper/ico_check_w.png) no-repeat left center; background-size: 23px auto;}
.btn_area.hp { padding: 0;}
.btn_area.hp button { border-radius: 0;}

.btn_sm { display: inline-block; height: 2.5rem; font-size: 1.4rem; line-height: 2.3rem; color: #fff; padding: 0 12px; border-radius: 3.0rem;}
.f_block { background-color: #000; }

/* 라인 */
.line::before { content: ''; position: absolute; width: 100%; height: 8px; background-color: #f3f3f3; bottom: 0; border-bottom: 1px solid #ededed; margin-left: -25px; padding: 0 25px;}

/* main */
.main { display: flex; height: 100%; flex-direction: column;}

/* 신청완료 */
.step_comple { padding-top: 13.0rem; background:url(../images/wahome/ico_clean.png) no-repeat center 0; background-size: 90px auto; text-align: center; margin: auto 0;}
.step_comple h3 { font-size: 3.2rem; color: #000; font-family: Notosans_M;}
.step_comple h3 span { display: block; font-size: 2.8rem; color: #888; font-family: Notosans_R; margin-top: 0.5rem;}
.step_comple .comple_data { display: block; height: 5.0rem; line-height: 5.0rem; background-color: #f3f3f3; border-radius: 5.0rem; margin: 3.0rem 2.0rem;}
.step_comple .comple_data span { font-size: 1.5rem; color: #000; font-family: Notosans_M;}
.step_comple p { font-size: 1.6rem; color: #666; line-height: 2.4rem;}


/* 팝업 */
.dim_layer { position: absolute; top:0; left: 0; width: 100%; height: 100%; z-index: 100; display: flex; align-items: center;}
.dim_layer .dimbg { position: absolute; top:0; left: 0; width: 100%; height: 100%; background: #000; opacity: .2;}
.dim_layer .pop_layer { position: absolute; bottom: 0; left: 0; width: 100%; background: #fff; border-top-left-radius: 3.0rem; border-top-right-radius: 3.0rem;}
.dim_layer .pop_container { display: flex; flex-direction: column; padding: 3.0rem 3.0rem 0;}
.dim_layer .pop_container .pop_title { display: flex; align-items: center;}
.dim_layer .pop_container .pop_title h1 { font-size: 2.4rem; color: #000;}
.dim_layer .pop_container .pop_title a {width: 3.0rem; height: 3.0rem; text-indent: -999px; margin-left: auto;}
.dim_layer .pop_container .pop_title .btn_close { background:url(../images/comm/ico_close.png) no-repeat right center; background-size: 17px auto;}
.dim_layer .pop_container .pop_content { min-height: 200px; margin: 50px 0 40px 0;}
.dim_layer .pop_container .pop_content .cont_box { margin-top: 0; padding-bottom: 0;}
.dim_layer .pop_container .pop_btn_area { display: flex; padding: 11px 0; margin-top: auto; background-color: #fff; justify-content: space-between;}
.dim_layer .pop_container .pop_btn_area button { width: 100%; height: 6.0rem; border-radius: 0.5rem; font-size: 2.0rem; color: #fff;}
.dim_layer .pop_container .pop_btn_area button.btn_blue { background-color: #4965e9;}
.dim_layer .pop_container .pop_btn_area button.btn_gray { background-color: #333; margin-left: 1.0rem;}

.dim_layer .pop_layer.type02 { width: 80%; height: auto; min-height: 100px; left: 50%; bottom: auto; border-radius: 30px; margin-left: -40%;}
.dim_layer .pop_layer.type02 .pop_container { padding: 3.0rem;}
.dim_layer .pop_layer.type02 .pop_content { min-height: auto; margin: 40px 0 40px 0;}
.dim_layer .pop_layer.type02 .pop_content p { font-size: 2.0rem; line-height: 2.8rem; color: #000; text-align: center; word-break: keep-all}
.dim_layer .pop_layer.type02 .pop_content p em { font-family: Notosans_M;}
.dim_layer .pop_layer.type02 .pop_btn_area button { height: 5.0rem;}

.dim_layer .pop_layer.type03 { width: 90%; height: auto; min-height: 100px; left: 50%; bottom: auto; border-radius: 0.5rem; margin-left: -45%;}
.dim_layer .pop_layer.type03 .pop_container { padding: 0; border-radius: 0.5rem;}
.dim_layer .pop_layer.type03 .pop_content { margin: 0; border-radius: 0.5rem;}
.dim_layer .pop_layer.type03 .pop_content .pop_img { display: flex; border-top-left-radius: 0.5rem; border-top-right-radius: 0.5rem;}
.dim_layer .pop_layer.type03 .pop_content .pop_img img { width: 100%; height: auto; border-top-left-radius: 0.5rem; border-top-right-radius: 0.3rem;}
.dim_layer .pop_layer.type03 .pop_btn_area { padding: 0; border-radius: 0.5rem;}
.dim_layer .pop_layer.type03 .pop_btn_area button { border-radius: 0;}
.dim_layer .pop_layer.type03 .pop_btn_area button.btn_blue { border-bottom-left-radius: 0.5rem;}
.dim_layer .pop_layer.type03 .pop_btn_area button.btn_gray { margin-left: 0; border-bottom-right-radius: 0.5rem;}

/* 데이터가 없을 경우 */
.no_data { margin: 4.0rem 0 3.0rem; background:url(../images/comm/img_nodata.png) no-repeat top center; background-size: 71px auto; padding-top: 9.0rem;}
.no_data p { font-size: 1.8rem; color: #333; text-align: center;}

/* 공지사항/알림 */
.noti_list li { border-bottom: 1px solid #e0e0e0; padding: 2.5rem 0 0}
.noti_list li:first-child { padding-top: 0;}
.noti_list .tit_box { background:url(../images/comm/ico_down.png) no-repeat right 1.0rem; background-size: 1.3rem auto; margin-bottom: 2.5rem;}
.noti_list .tit_box.open { background:url(../images/comm/ico_up.png) no-repeat right 1.0rem; background-size: 1.3rem auto;}
.noti_list .tit_box.open + .cont { margin-top: 0;}
.noti_list .tit_box .tit { font-size: 1.8rem; color: #000; font-family: Notosans_R; padding-right: 2.5rem;}
.noti_list .tit_box .date { display: block; font-size: 1.2rem; color: #a3a3a3; margin-top: 0.3rem;}
.noti_list .tit_box .cleanday { display: block; font-size: 1.4rem; color: #000; margin-bottom: 0.2rem;}
.noti_list .cont { background-color: #fafafa; border-top: 1px solid #e0e0e0; margin-top: 2.5rem; padding: 1.5rem;}
.noti_list .cont p { font-size: 1.6rem; color: #666; white-space: pre-line;}
.noti_list.alarm .tit_box { background: none;}

/* 약관 */
.provision_area { font-size: 1.4rem;}
.provision_area h3 { font-size: 1.6rem; color: #000; font-family: Notosans_M; margin: 3.0rem 0;}
.provision_area h3:first-child { margin: 0 0 3.0rem;}
.provision_area .provision_box { margin-top: 2.0rem;}
.provision_area .provision_box h4 { font-size: 1.4rem; color: #000; margin-bottom: 1.5rem;}
.provision_area .provision_box p{ margin-bottom: 1.0rem;}
.provision_area .provision_box li { margin-bottom: 0.5rem; /*white-space: pre-wrap;*/}
.provision_area .provision_box li > ul { margin: 1.0rem 0;}
.provision_area .provision_box .table_box { width: 100%; margin: 20px 0;}
.provision_area .provision_box .table_box thead { height: 30px; background: #000; color: #fff;}
.provision_area .provision_box .table_box th { text-align: center; border-right: 1px solid #fff;}
.provision_area .provision_box .table_box td { border-bottom: 1px solid #ccc; border-right: 1px solid #ccc; padding: 5px;}
.provision_area .provision_box .table_box td:last-child { border-right: none;}
.provision_area .provision_box .table_box td.cent { text-align: center; border-right: 1px solid #ccc;} 

/* 설정 */
.toggle_box { display: flex; margin-top: 2.0rem; justify-content: space-between; align-items: center; padding-bottom: 3.0rem; border-bottom: 1px solid #e0e0e0;}
.toggle_box:last-child { border-bottom: none;}
.toggle_box p { flex: none; font-size: 1.6rem; color: #000;}

/* 토글버튼 */
.toggleWrap { position: relative; width: 100%; height:3.0rem; }
.toggleWrap > span { font-size: 15px; font-weight: 600; line-height: 2; color: #fff; }
.toggleWrap input { display: none; }

.toggleWrap > .togglebtn { position: absolute; top: 0; bottom: 0; right: 0; width: 5.0rem; height: 3.0rem; }
.togglebtn label { display: block; width: 5.0rem; height: 3.0rem; box-sizing: border-box; border-radius: 50px; background: #ccc; transition: all 0.3s ease; } 
.togglebtn label > span { position: absolute; top: 5px; left: 5px; display: block; width: 20px; height: 20px; border-radius: 50px; box-sizing: border-box; transition: all 0.3s cubic-bezier(0.275, -0.45, 0.725, 1.45); background: #fff; }

.togglebtn input:active + div label, input:checked + div label { background-color: #4965e9;}
.togglebtn input:active + div label > span, input:checked + div label > span { left: 25px; }


/* radio 검색 */
.tab_search { display: flex; width: 100%; justify-content: space-between; margin-top: 1.0rem;}
.tab_search .item { flex-grow: 1; margin-bottom: 0 !important;}
.tab_search .item > input[type="radio"] + label { width: 100%; background: none; border: 1px solid #ececec; border-left: none; }
.tab_search .item:first-child > input[type="radio"] + label { border-left: 1px solid #ececec; border-top-left-radius: 0.5rem; border-bottom-left-radius: 0.5rem;}
.tab_search .item:last-child > input[type="radio"] + label { border-top-right-radius: 0.5rem; border-bottom-right-radius: 0.5rem;}
.tab_search .item > input[type="radio"] + label span { display: block; width: 100%; height: 5.0rem; text-align: center; line-height: 4.8rem;}
.tab_search .item > input[type="radio"]:checked + label { background: #ec645e; border: 1px solid #ec645e;}
.tab_search .item:first-child > input[type="radio"]:checked + label { border-top-left-radius: 0.5rem; border-bottom-left-radius: 0.5rem;}
.tab_search .item:last-child > input[type="radio"]:checked + label { border-top-right-radius: 0.5rem; border-bottom-right-radius: 0.5rem;}
.tab_search .item > input[type="radio"]:checked + label span { color: #fff;}

/* 달력 */
.v-calendar { position: absolute !important; right: 0; top: 0;}
.v-calendar .input-field { min-width: 50px !important; width: 50px; height: 50px;}
.v-calendar .input-field input { border: none !important; background: none !important;}
.v-calendar .input-field input::placeholder { color: #fff !important; font-size: 0 !important;}
.v-calendar .input-field svg.datepicker { display: none !important;}

.v-calendar .content { bottom: 0; top: auto !important; height: auto !important; padding: 30px 25px !important; border-top-left-radius: 30px; border-top-right-radius:30px !important; box-shadow: 2px 2px 10px 2px rgb(204 204 204 / 60%) !important; }
.v-calendar .calendar { display: flex; width: 100% !important; flex-direction: column;}
.v-calendar .calendar .selected-field { padding: 0 !important;}
.v-calendar .calendar .selected-field .days .day { color: #666 !important;}
.v-calendar .calendar .selected-field .selected-date { margin-bottom: 20px !important;}
.v-calendar .calendar .selected-field .viewButton { font-size: 24px !important; font-family: Notosans_M; color: #000 !important;}
.v-calendar .calendar .selected-field .prevDateButton:after { background: url(../images/comm/ico_predate.png) no-repeat center; background-size: 0.8rem auto; border: none !important; width: 30px; height: 50px;}
.v-calendar .calendar .selected-field .nextDateButton:after { background: url(../images/comm/ico_nextdate.png) no-repeat center; background-size: 0.8rem auto; border: none !important; width: 30px; height: 50px;}
.v-calendar .calendar .selected-field .days { margin-bottom: 10px; background: #fafafa; height: 45px; border-radius: 45px; align-items: center; padding: 0 10px;}
.v-calendar .calendar .days .day { text-align: center !important; margin-right: 0 !important; font-size: 15px !important; color: #000 !important;}
.v-calendar .calendar .days .day.name { font-size: 15px !important; font-family: Notosans_L;}
.v-calendar .calendar .days-selection { padding: 0 10px !important;}
.v-calendar .calendar .days-selection .days .day { margin-top: 10px;}
.v-calendar .calendar .days .day.disabledDate { color: #bfbfbf !important;}
.v-calendar .calendar .days .day.circle .number { padding: 20px !important;}
.v-calendar .calendar .days .day.selectedDate .number { background: #ec645e !important;}
.v-calendar .calendar .days-selection .days { margin-bottom: 0 !important;}
.v-calendar .calendar .days .day.name:first-child { color: #ec645e !important;}
.v-calendar .calendar .days .day.name:last-child { color: #4965e9 !important;}

.v-calendar .calendar .months, .v-calendar .calendar .years { max-width: 100% !important;}
.v-calendar .calendar .years .year, .v-calendar .calendar .months .month { width: 23% !important; border: 1px solid #ddd !important; font-size: 1.4rem !important; padding: 0.8rem !important; margin: 0 0.5rem 0.5rem 0 !important; background-color: #fafafa !important; color: #000 !important; border-radius: 0.2rem;}
.v-calendar .calendar .years .year:nth-child(4), .v-calendar .calendar .years .year:nth-child(8), .v-calendar .calendar .years .year:nth-child(12) { margin-right: 0 !important;}
.v-calendar .calendar .months .month:nth-child(4), .v-calendar .calendar .months .month:nth-child(8), .v-calendar .calendar .months .month:nth-child(12) { margin-right: 0 !important;}


/* 주소검색 */
.juso_search { margin-top: 10px; position: relative;}
.juso_search .input_box { display: block; }
.juso_search button { position: absolute; text-indent: -9999px;}
.juso_search .btn_del { right: 6.0rem; top: 1.5rem; width: 2.0rem; height: 2.0rem; background: #ddd url(../images/comm/ico_close.png) no-repeat center; background-size: 0.8rem auto; border-radius: 3.0rem;}
.juso_search .btn_search { right: 0.5rem; top: 0; width: 5.0rem; height: 5.0rem; background: url(../images/comm/ico_search.png) no-repeat center; background-size: 2.7rem auto;}
.juso_search_list { display: flex; flex-direction: column; overflow-y: auto; height: 100%; margin: 30px -25px 0; background: #fafafa;}
.juso_search_list h2 { font-size: 1.6rem; font-family: Notosans_R; padding: 1.5rem 2.5rem 0;}
.juso_search_list .list { margin: 0 2.5rem;}
.juso_search_list .list li { border-bottom: 1px solid #e0e0e0; padding: 2.0rem 0; font-size: 1.4rem;}
.juso_search_list .list li .code { display: block; color: #ec645e; font-family: Notosans_R; margin-bottom: 0.3rem;}
.juso_search_list .list li .juso1 { color: #333; font-family: Notosans_R;}
.juso_search_list .list li .juso2 { color: #666; }

/* 페이지 */
.page_area {font-size:0; line-height:0; text-align:center; margin: 0 -25px; background: #fafafa; padding: 30px 0 40px;}
.page_area a, .page_area strong { display:inline-block; width:3.0rem; height:3.0rem; margin-left: 0.5rem; text-align:center; line-height:28px; font-size:14px; color: #666}
.page_area a:first-child, .page_area strong:first-child, .page_area .btn_prev + a, .page_area .btn_prev + strong {margin-left:0;}
.page_area a { color:#222; background:#ddd; border-radius: 3.0rem;}
.page_area a:hover {background:#ddd; border-radius: 50%; color:#222;}
.page_area a:active, .page_area .on { color:#fff; background: #ec645e ; border-radius: 50%}
.page_area .btn_prev {margin-right:10px;}
.page_area .btn_next {margin-left:10px;}
.page_area > [class*="btn_"] { background: #fff; border: 1px solid #ddd;}
.page_area > [class*="btn_"].disabled *{opacity: 0.3}
.page_area > [class*="btn_"].disabled:hover{background: none}
.page_area > [class*="btn_"].disabled:active [class*="ico_page"]{background-position: center -12px}
.page_area > [class*="btn_"]:active [class*="ico_page"]{background-position:center 7px ;}
.ico_page_first { width: 2.8rem; height: 2.8rem; background: url(../images/comm/ico_page_first.png) no-repeat center; }
.ico_page_prev { width: 3.0rem; height: 3.0rem; background: url(../images/comm/ico_page_pre.png) no-repeat center; }
.ico_page_last { width: 3.0rem; height: 3.0rem; background: url(../images/comm/ico_page_last.png) no-repeat center; }
.ico_page_next { width: 3.0rem; height: 3.0rem; background: url(../images/comm/ico_page_next.png) no-repeat center; }
[class*="ico_"] {text-indent: -9999px; font-size: 0; display: inline-block; vertical-align: middle;}


/* 비밀번호 재설정 */
.search_id { display: flex; flex-direction: column; align-items: center; margin-bottom: 5.0rem;}
.search_id span { display: inline-block; background: #f3f3f3; height: 3.0rem; padding: 0 2.0rem; border-radius: 3.0rem; line-height: 3.0rem; font-size: 1.4rem;}
.search_id strong { display: block; font-size: 2.4rem; color: #ec645e; font-family: Notosans_R; margin-top: 0.5rem;}

/* 로딩 */
.loading { display: flex; z-index: 99; width: 100%; height: 100%; position: absolute; top:0; left: 0;}
.loading .load { margin: auto; width: 5.0rem; height: 5.0rem;}
.loading img { width: 100%; height: 100%;}

/* 카파 */
.copy { display: block; margin: 3.0rem 0 4.0rem; text-align: center;}
.copy strong { display: block; color: #000; font-size: 1.6rem; font-family: Notosans_M; margin-bottom: 1.0rem;}
.copy p { font-size: 1.2rem; margin-bottom: 0.3rem;}

@media (min-width: 320px) and (max-width: 360px){

}

@media all and (device-height:568px){

}








































